NODE_ENV=development
PORT=3000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/en2h_booking?schema=public
JWT_ACCESS_SECRET=replace_with_a_secure_secret
JWT_ACCESS_EXPIRES_IN=15m
BCRYPT_SALT_ROUNDS=12
APP_TIMEZONE=Asia/Colombo

DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=en2h_booking
